.container {
    width: 100%;
    max-width: 1366px;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 152px;

    button {
        
        border: none;
        outline: none;
        padding: 0.5rem;
        padding-right: 1.2rem;
        padding-left: 1.2rem;
        border-radius: 44px;
        width: 100%;
        max-width: 214px;
    
        font-size: 23px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: var(--yellow-500);
        background-color: var(--blue-1);
    }
}

